@import "tailwindcss";

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} 

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #ededed;
  }
} */

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "DM Sans", sans-serif;
  }

  /* For Firefox. */
  * {
      scrollbar-width: none;
  }

  /* For WebKit (Chrome & Safari). */
  ::-webkit-scrollbar {
      display: none;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding: 30px 0 0;
}


.text-secondary {
  color: #5f5f5f;
}
/* 
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
} */